body {
    font-family: 'Arial Rounded MT Bold', sans-serif;
    background: radial-gradient(circle, rgba(54, 0, 51, 0.9) 0%, rgba(0, 0, 51, 0.9) 50%, rgba(0, 0, 102, 0.9) 100%);
    color: #b30b89;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Prevents background overflow */
}

.container {
    text-align: center;
}

h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #fff; /* Change title color to white */
}

#pickup-line {
    font-size: 1.8rem;
    margin: 20px 0;
    opacity: 0;
    transition: opacity 1.2s ease;
    color: #fff; /* Change pickup line color to white */
}

#pickup-line.show {
    opacity: 1;
}

button {
    padding: 0;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    animation: beat 0.5s infinite alternate;
}

button:before {
    content: '\2764';
    font-size: 5rem;
    color: #df0fbcc2;
    transition: color 0.8s ease;
}

button:hover:before {
    color: #ff0000;
}

@keyframes beat {
    to {
        transform: scale(1.2);
    }
}

/* Additional styles for enhanced design */
body {
    background: linear-gradient(135deg, rgba(54, 0, 51, 0.9) 0%, rgba(0, 0, 51, 0.9) 50%, rgba(0, 0, 102, 0.9) 100%); /* Dark gradient background */
}

.container {
    border: 2px solid #b700ff; /* Add a violet border around the container */
    border-radius: 10px; /* Add border radius for a softer look */
    padding: 20px; /* Add padding for spacing */
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.9) 100%), url('path/to/background-image.jpg'); /* Semi-transparent gradient background with background image */
    background-size: cover;
}


button:before {
    color: #b30b89; /* Change heart color to pink */
}
